.menu-icon {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    cursor: pointer;
    color: #777;
}

.menu-icon svg {
    transition: color 0.3s ease-in-out;
}

.menu-icon:hover svg {
    color: #111;
}

.menu-icon svg {
    display: block;
    width: 28px;
    height: 28px;
}